#pokemon-list > span > span {
	display: inline-block;
	margin: 10px;
	width: 40px;
	cursor: pointer;
	text-align: center;
}
#pokemon-list > span > span > img {
	max-height: 32px;
}
#pokemon-list > span > span > img:not(.catched) {
	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
	     -o-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	        filter: grayscale(100%);
	opacity: 0.4;
}
